<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bloodmosul.blooddonor">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ico_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"

        android:theme="@style/AppTheme">
        <activity
            android:name="blooddonor.mosulclass.imran.blooddonor.Intro"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="blooddonor.mosulclass.imran.blooddonor.Login">
            <intent-filter>
                <action android:name="com.example.imran.blooddonors" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name="blooddonor.mosulclass.imran.blooddonor.Register" />
        <activity android:name="blooddonor.mosulclass.imran.blooddonor.SearchDonor" />
        <activity android:name="blooddonor.mosulclass.imran.blooddonor.Searchview" />
        <activity android:name="blooddonor.mosulclass.imran.blooddonor.Profile" />
        <activity android:name="blooddonor.mosulclass.imran.blooddonor.ResetPass" />
        <activity android:name="blooddonor.mosulclass.imran.blooddonor.ChangePass" />
        <activity android:name="blooddonor.mosulclass.imran.blooddonor.AdminPanel" />
        <activity android:name="blooddonor.mosulclass.imran.blooddonor.AdminSearchDonor" />
        <activity android:name="blooddonor.mosulclass.imran.blooddonor.AdminSearchview" />
        <activity android:name="blooddonor.mosulclass.imran.blooddonor.AdminAddUser" />

    </application>


</manifest>

